<h4>Hydrology</h4>
<p>The Climate Adaptation Studies extend the DCR 2023 Hydrology analysis. Like the DCR 2023, the Climate Adaptation studies utilize the Risk Informed Climate Change Scenario selection methodology. The Climate Adaptation Studies include an analysis of Climate Change at 2085 as well as 2043 (the DCR only evaluated Cliamte Change at 2043). A short description of each of the evaluated Scenarios is included below.</p>
<table class="table">
    <tr>
        <th>Scenario</th>
        <th>Change in Temperature (deg C)</th>
        <th>Change in Precipitation (%)</th>
        <th>Sea Level Rise (cm)</th>
    </tr>
    <tr>
        <td>Baseline</td>
        <td>0</td>
        <td>0%</td>
        <td>0</td>
    </tr>
    <tr>
        <td>2043 75% Level of Concern</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>2043 95% Level of Concern</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>2085 75% Level of Concern</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
    </tr>
    <tr>
        <td>2085 95% Level of Concern</td>
        <td>?</td>
        <td>?</td>
        <td>?</td>
    </tr>
</table>