<table class="table">
    <tr>
        <th>Scenario</th>
        <th>Change in Temperature (deg C)</th>
        <th>Change in Precipitation (%)</th>
        <th>Sea Level Rise (ft)</th>
    </tr>
    <tr>
        <td>Baseline</td>
        <td>0.0</td>
        <td>0.0%</td>
        <td>0.0</td>
    </tr>
    <tr>
        <td>2043 50% Level of Concern</td>
        <td>1.5</td>
        <td>1.5%</td>
        <td>0.5</td>
    </tr>
    <tr>
        <td>2043 95% Level of Concern</td>
        <td>1.8</td>
        <td>-1.8%</td>
        <td>1</td>
    </tr>
    <tr>
        <td>2085 50% Level of Concern</td>
        <td>3.4</td>
        <td>3.3%</td>
        <td>1.8</td>
    </tr>
    <tr>
        <td>2085 75% Level of Concern</td>
        <td>3.9</td>
        <td>0.4%</td>
        <td>3.5</td>
    </tr>
</table>