<h4>Future Hydrology</h4>
<p>Several previous studies have been done that provide estimates of future climate change impacts on SWP delivery reliability. These studies have been conducted using evolving climate data, differing analysis approaches, and different assumptions. These past studies have been fundamental to the analysis provided in this Adaptation Plan informing our understanding of how different aspects of climate change (e.g., sea level rise, earlier snowmelt, more extreme precipitation events) impact the SWP and how soon these impacts may occur. Key results from those studies are discussed in the <a href="#">Climate Change Adaptation Studies Report</a>.</p>
<p>The Climate Adaptation Studies extend the DCR 2023 Hydrology analysis. Like the DCR 2023, the Climate Adaptation studies utilize the Risk Informed Climate Change Scenario selection methodology. The Climate Adaptation Studies include an analysis of Climate Change at 2085 as well as 2043 (the DCR only evaluated Cliamte Change at 2043).</p>
<h5>Impacts of Climate Change</h5>
<p>
</p>