<!-- THIS PAGE IS AN EXAMPLE, FOR INTERNAL USE ONLY 2024 07 11 -->
<!-- Introduction -->
<p>This is going to be the introduction to the CCA dashboard. We plan on introducing the project here.<p>
<!-- Existing Studies -->
<h4>Existing Studies</h4>
<p>We will probably want to give a very short idea of the DCR results here.</p>
<!-- Adaptation -->
<h4>Adaptation Strategies</h4>
<p>Then we should introduce the differnt adaptation strategies.</p>
<div class="col-6 mb-2">
    <ul class="list-group">
        <!-- Additional Storage -->
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Additional Storage</h5>
                <small>Infrastructure</small>
            </div>
            <p class="mb-1">By constructing additional water storage, the SWP could potentially be more resilient to droughts.</p>
        </li>
        <!-- Delta Conveyance Project -->
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Delta Conveyance Project</h5>
                <small>Infrastructure</small>
            </div>
            <p class="mb-1">By constructing additional infrastructure for water conveyance around the detla, the SWP could potentially operate more sustainably during periods of low flow.</p>
        </li>
        <!-- FIRO -->
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">FIRO</h5>
                <small>Infrastructure</small>
            </div>
            <p class="mb-1">Detail on FIRO.</p>
        </li>
        <!-- Voluntary Agreements  -->
        <li class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Voluntary Agreements</h5>
                <small>Operations</small>
            </div>
            <p class="mb-1">Detail on VAs.</p>
        </li>
        
    </ul>
</div>
<!-- Run Flat -->
<h4>Run Flat</h4>
<p>Introduce the idea of Run Flat.</p>