{%extends "pages/base.jinja"%}

{%block title%} 
    CCA Home 
{%-endblock %}

{%block content%}
<div class="container-lg">
    <h2>SWP Climate Change Adaptation Studies</h2>
    <!-- Introduction -->
    {{introduction|safe}}
    <!-- Hydrology -->
    {{hydrology|safe}}
    <!-- Cards --> 
    <h3>Explore Adaptation Studies</h3>
    <div class="row">
        <div class="col-sm-6">
            {{cards[0]|safe}}
        </div>
        <div class="col-md-6">
            {{cards[1]|safe}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{cards[2]|safe}}
        </div>
        <div class="col-md-6">
            {{cards[3]|safe}}
        </div>
    </div>
</div>
{%-endblock%}