<!DOCTYPE html>
<html lang="en">
    <!-- Header -->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{%block title %}CCA{% endblock %}</title>
        {% block css %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
        <!-- Custom CSS -->
        <style>
        .form-control:disabled {
            border: none; /* Remove default border */
            background-color: transparent; /* Transparent background */
            resize: none;
        } 
        .form-select:disabled {
            border: none; /* Remove default border */
            background-color: transparent; /* Transparent background */
            background-image: none;
        }
        </style>
        {% endblock %}
        <!-- CalSim3 Icon -->
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/CentralValleyModeling/static-assets/main/images/calsim3_icon.svg">
        <!-- Plotly -->
        <script charset="utf-8" src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
    </head>
    <body>
        <!-- Navigation -->
        <nav id="navigation" class="navbar navbar-expand-md bg-body-secondary border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home">
                    <img src="https://raw.githubusercontent.com/CentralValleyModeling/static-assets/main/images/calsim3_icon.svg" alt="CalSim3 Icon" width="30" height="24" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav-dropdown" aria-controls="navbar-nav-dropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-nav-dropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/explore">Explore Results</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Content -->
        <div class="container-fluid m-0 p-0" id="content">
            {% block content %}{% endblock %}
        </div>
        <!-- Footer -->
        <div class="container-fluid m-0" id="footer">
            {%block footer %}
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 px-4 border-top fixed-bottom bg-body-secondary">
                <div class="col-md-4 d-flex align-items-center">
                    <span class="mb-3 mb-md-0 text-body-secondary">CA Department of Water Resources</span>
                </div>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="/home"><i class="bi bi-house-fill"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="/docs"><i class="bi bi-file-earmark-text-fill"></i></a></li>
                    <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="https://github.com/CentralValleyModeling/csrs"><i class="bi bi-github"></i></a></li>
                </ul>
            </footer>
            {% endblock %}
        </div>
        {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
    <style>
    body {
        margin-bottom: 60px;
    }
    </style>
</html>